<div class="container">
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Mente Vital</span>
    <%= image_tag "logo.png", size: "130x100" %>

  </nav>

  <h2>Siquiatría del estilo de vida</h2>


<div class="card" style="width: 48rem;">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "download.jpeg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "download (1).jpeg", class: "d-block w-100" %>

    </div>
    <div class="carousel-item">
      <%= image_tag "salud-OMS.jpg", class: "d-block w-100" %>

    </div>
  </div>
</div>
</div>
</div>
